.track-details {
    text-align: center;
}

.track-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}